@{ Layout = "_AdminLayout"; }

<div class="row">
    <div class="col-md-12">
        <!-- top tiles -->
        <div class="row" style="display: inline-block;">
            <div class="tile_count col-md-12">
                <div class="col-md-2 col-sm-4  tile_stats_count">
                    <span class="count_top"><i class="fa fa-usd" aria-hidden="true"></i> Total Estimate Hours</span>
                    <div id="total-estimate-hours" class="count">-</div>
                    <span class="count_bottom"><i class="fa fa-clock-o"></i> Estimate from Original</span>
                </div>
                <div class="col-md-2 col-sm-4  tile_stats_count">
                    <span class="count_top"><i class="fa fa-clock-o"></i> Total Budget</span>
                    <div id="total-budget" class="count">-</div>
                    <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>3% </i> From last Week</span>
                </div>
                <div class="col-md-2 col-sm-4  tile_stats_count">
                    <span class="count_top"><i class="fa fa-user"></i> Time Progress</span>
                    <div class="count green">-</div>
                    <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i></i> Time Completion</span>
                </div>
                <div class="col-md-2 col-sm-4  tile_stats_count">
                    <span class="count_top"><i class="fa fa-user"></i> Effort Used (Hours)</span>
                    <div id="effort-used-hours" class="count">-</div>
                    <span class="count_bottom"><i class="red"><i class="fa fa-sort-desc"></i>-% </i> From last Week</span>
                </div>
                <div class="col-md-2 col-sm-4  tile_stats_count">
                    <span class="count_top"><i class="fa fa-user"></i> Effort Used (AC)</span>
                    <div id="effort-used-ac" class="count">-</div>
                    <div class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i><span id="effort-used-ac-percentage">-</span>% </i> Actual Cost</div>
                </div>
                <div class="col-md-2 col-sm-4  tile_stats_count">
                    <span class="count_top"><i class="fa fa-user"></i> Effort To Use</span>
                    <div class="count">-</div>
                    <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>--% more </i> To Completion</span>
                </div>
                <div class="col-md-2 col-sm-4  tile_stats_count">
                    <span class="count_top"><i class="fa fa-user"></i> Estimate to Completion</span>
                    <div class="count">-</div>
                    <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>-% total </i> To Completion</span>
                </div>
            </div>
        </div>
        <!-- /top tiles -->


        <div class="row">
            <div class="col-md-12 col-sm-12 ">
                <div class="dashboard_graph">
                    <div class="row x_title">
                        <div class="col-md-8">
                            <h3>Effort Used <small>Analystic how our effort used</small></h3>
                        </div>
                        <div class="col-md-4">
                            <div id="reportrange" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
                                <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                                <span>December 30, 2014 - January 28, 2015</span> <b class="caret"></b>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12  bg-white">
                        <div class="x_title">
                            <h2>Actual Cost vs. Planned Cost</h2>
                            <div class="clearfix"></div>
                        </div>

                        <div class="col-md-12 col-sm-12 dashboard-graph-nopadding">
                            <div id="chart_plot_01" class="demo-placeholder">

                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-12  bg-white">
                        <div class="x_title">
                            <h2>Cost by Roles</h2>
                            <div class="clearfix"></div>
                        </div>

                        <div class="col-md-3 col-sm-3 dashboard-graph-nopadding">
                            <div id="echart_cost_by_roles_pie" class="demo-placeholder">

                            </div>

                        </div>
                        <div class="col-md-9 col-sm-9 dashboard-graph-nopadding">
                            <div id="echart_cost_by_roles_bar" class="demo-placeholder">

                            </div>

                        </div>

                    </div>

                    <div class="clearfix"></div>
                </div>
            </div>

        </div>
        <br />

    </div>
</div>


@section Scripts {
    <script language="javascript">
        var echart1;
        var echart2;
        var echart3;
        var colorList = ['#5C7BD9  ', '#9FE080 ', '#FFDC60', '#FF7070', '#7ED3F4', '#40B27D', '#FF915A', '#A969C6', '#FF88E0'];
        var totalEstimateHours = 0;
        var totalBudget = 0;
        var totalHour = 0;
        var totalEffort = 0;

        function getProjectStaticsByGid(projectGid) {
            console.log('getProjectStaticsByGid');
            $.ajax({
                type: 'GET',
                url: '/api/v1/project-api/statistics-by-gid',
                data: {
                    projectGid: projectGid
                },
                success: function (result) {
                    console.log('getProjectStaticsByGid - success');
                    initAcEchart(result.data.effortUsedByDay);
                    initEffortUsedByRoleEchartBar(result.data.effortUsedByRole);
                    initEffortUsedByRoleEchartPie(result.data.effortUsedByRole);

                    // TODO: 更新上面budget等的数据
                    result.data.estimateEffort.forEach((a) => {
                        totalEstimateHours += a.effort;
                        totalBudget += a.effort * a.roleRate;
                    });

                    $('#total-estimate-hours').text(totalEstimateHours.toFixed(0).replace(/(\d{1,3})(?=(\d{3})+(?:$|\.))/g, '$1,'));
                    $('#total-budget').text(totalBudget.toFixed(0).replace(/(\d{1,3})(?=(\d{3})+(?:$|\.))/g, '$1,'));
                    $('#effort-used-ac-percentage').text((totalEffort / totalBudget * 100).toFixed(2));


                    setTimeout(function () {
                        window.onresize = function () {
                            echart1.resize();
                            echart2.resize();
                            echart3.resize();
                        }
                    }, 200)

                }
            });
        }

        function getEffortUserdByDate() {
            console.log('getEffortUserdByDate');
            $.ajax({
                type: 'GET',
                url: '/api/v1/project-api/effort-used-by-day',
                data: {
                    projectGid: getQueryVariable('projectGid')
                },
                success: function (result) {
                    console.log('getEffortUserdByDate - success');
                    initAcEchart(result.data);
                    setTimeout(function () {
                        window.onresize = function () {
                            echart1.resize();
                            echart2.resize();
                            echart3.resize();
                        }
                    }, 200)

                }
            });
            $.ajax({
                type: 'GET',
                url: '/api/v1/project-api/effort-used-by-role-category',
                data: {
                    projectGid: getQueryVariable('projectGid')
                },
                success: function (result) {
                    console.log('effort-used-by-role - success');
                    initEffortUsedByRoleEchartBar(result.data);
                    initEffortUsedByRoleEchartPie(result.data);
                    setTimeout(function () {
                        window.onresize = function () {
                            echart1.resize();
                            echart2.resize();
                            echart3.resize();
                        }
                    }, 200)

                }
            });
        }

        $(document).ready(function () {
            getProjectStaticsByGid(getQueryVariable('projectGid'));
        });


        function initFlot(data) {
            var arr_data1 = [];
            var arr_data2 = [];
            data.forEach((value, index) => {
                var x = [];
                x.push(new Date(value.date).getTime(), value.totalHours);
                var y = [];
                y.push(new Date(value.date).getTime(), value.totalHoursRate);

                arr_data1.push(x);
                arr_data2.push(y);
            });

            //arr_data1 = [
            //    [gd(2012, 1, 1), 10],
            //    [gd(2012, 1, 2), 40],
            //    [gd(2012, 1, 3), 30],
            //    [gd(2012, 1, 4), 60],
            //];

            //arr_data2 = [
            //    [gd(2012, 1, 1), 30],
            //    [gd(2012, 1, 2), 40],
            //    [gd(2012, 1, 3), 50],
            //    [gd(2012, 1, 4), 30],
            //];


            var chart_plot_01_settings = {
                series: {
                    lines: {
                        show: false,
                        fill: true
                    },
                    splines: {
                        show: true,
                        tension: 0.4,
                        lineWidth: 1,
                        fill: 0.4
                    },
                    points: {
                        radius: 0,
                        show: true
                    },
                    shadowSize: 2
                },
                grid: {
                    verticalLines: true,
                    hoverable: true,
                    clickable: true,
                    tickColor: '#d5d5d5',
                    borderWidth: 1,
                    color: '#fff'
                },
                colors: ['rgba(38, 185, 154, 0.38)', 'rgba(3, 88, 106, 0.38)'],
                xaxis: {
                    tickColor: 'rgba(51, 51, 51, 0.06)',
                    mode: 'time',
                    timeformat: '%m-%d',
                    tickSize: [1, 'month'],
                    //tickLength: 10,
                    axisLabel: 'Date',
                    axisLabelUseCanvas: true,
                    axisLabelFontSizePixels: 12,
                    axisLabelFontFamily: 'Verdana, Arial',
                    axisLabelPadding: 10
                },
                yaxis: {
                    ticks: 8,
                    tickColor: 'rgba(51, 51, 51, 0.06)',
                },
                tooltip: false
            }

            if ($('#chart_plot_01').length) {
                console.log('Plot1');

                $.plot($('#chart_plot_01'), [arr_data1, arr_data2], chart_plot_01_settings);
            }
        }

        function initAcEchart(data) {
            var xData = [];

            var totalHoursData = [];
            var totalHoursRateData = [];
            data.forEach((value, index) => {
                xData.push(value.date.substring(0, 10))
                totalHoursData.push(value.totalHours);
                totalHoursRateData.push(value.totalHoursRate)
            });

            if (totalHoursData.length == 0) {
                totalHour = 0;
            } else {
                totalHour = totalHoursData[totalHoursData.length - 1];
            }

            if (totalHoursRateData.length == 0) {
                totalEffort = 0;
            } else {
                totalEffort = totalHoursRateData[totalHoursRateData.length - 1];
            }

            $('#effort-used-hours').text(totalHour.toFixed(0).replace(/(\d{1,3})(?=(\d{3})+(?:$|\.))/g, '$1,'));
            $('#effort-used-ac').text(totalEffort.toFixed(0).replace(/(\d{1,3})(?=(\d{3})+(?:$|\.))/g, '$1,'));

            console.log('getEffortUserdByDate - create myChart');

            echart1 = echarts.init(document.getElementById('chart_plot_01'));
            echart1.setOption({
                //title: {
                //    text: 'Actual Cost vs. Planned Cost',
                //    textStyle: {
                //        fontSize: '18px',
                //        fontWeight: 400,
                //        color: '#73879C',
                //        fontFamily: '"Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif'
                //    }
                //},
                legend: {
                    type: 'plain',
                    //orient: 'vertical',
                },
                grid: {
                    right: '5px',
                    left: '70px',
                    top: '36px',
                    bottom: '30px'
                },
                xAxis: {
                    type: 'category',
                    boundaryGap: false,
                    data: xData
                },
                color: ['rgba(38, 185, 154, 0.38)', 'rgba(3, 88, 106, 0.38)'],

                tooltip: {
                    trigger: 'axis'
                },
                yAxis: {
                    type: 'value'
                },
                series: [{
                    name: 'Total Hours Spent',
                    data: totalHoursData,
                    type: 'line',
                    areaStyle: {
                        color: ['rgba(38, 185, 154, 0.38)']
                    },
                }, {
                    name: 'Total Cost Spent',
                    data: totalHoursRateData,
                    type: 'line',
                    areaStyle: {
                        color: ['rgba(3, 88, 106, 0.38)']
                    }
                }]
            });
        }


        function initEffortUsedByRoleEchartPie(data) {

            data.forEach((value, index) => {
                value.name = value.roleName;
                value.value = value.totalHoursRate;
            });


            console.log('initEffortUsedByRoleEchartPie - create myChart');

            echart2 = echarts.init(document.getElementById('echart_cost_by_roles_pie'));
            echart2.setOption({
                tooltip: {
                    trigger: 'item'
                },
                legend: {
                    show: false
                },
                series: [
                    {
                        name: 'Cost By Role:',
                        type: 'pie',
                        radius: ['40%', '90%'],
                        center: ['50%', '40%'],
                        avoidLabelOverlap: false,
                        //color: colorList,
                        itemStyle: {
                            borderRadius: 10,
                            borderColor: '#fff',
                            borderWidth: 2,
                            //normal: {
                            //    //好，这里就是重头戏了，定义一个list，然后根据所以取得不同的值，这样就实现了，
                            //    color: function (params) {
                            //        // build a color map as your need.
                            //        return colorList[params.dataIndex]
                            //    }
                            //}

                        },
                        label: {
                            show: false,
                            position: 'center'
                        },
                        emphasis: {
                            label: {
                                show: true,
                                fontSize: '11',
                                fontWeight: '300'
                            }
                        },
                        labelLine: {
                            show: false
                        },
                        data: data,

                    }
                ]
            });
        }


        function initEffortUsedByRoleEchartBar(data) {
            var dataList = [['role', 'percentage', 'amount']];

            data.forEach((value, index) => {
                d = [];
                d.push(value.roleName, 0, value.totalHoursRate);
                dataList.push(d);
            });

            echart3 = echarts.init(document.getElementById('echart_cost_by_roles_bar'));
            echart3.setOption({
                dataset: {
                    source: dataList
                },
                grid: {
                    right: '20px',
                    left: '120px',
                    top: '20px',
                    bottom: '30px'
                },

                xAxis: {
                    name: 'amount',
                    //type: 'category',
                    boundaryGap: false,
                    //itemStyle: {
                    //    borderRadius: 10,
                    //    borderColor: '#fff',
                    //    borderWidth: 2,
                    //    normal: {
                    //        label: {
                    //            show: true,
                    //            position: 'insideLeft',
                    //            formatter: function (a) {
                    //                var x = keepTwoDecimal(a.data[2] / 1000);
                    //                console.log(a);
                    //                return x + ' K';
                    //            }
                    //            //formatter: Math.round(Number('{c}'.split(',')[2]) / 1000) + 'K'
                    //            //formatter: '{a}\n{b}\n{c}'
                    //        }
                    //    }

                    //},
                },
                yAxis: {
                    type: 'category',
                    textStyle: {
                        color: '#FF0000',
                        fontSize: '34px'
                    }
                },
                colors: ['rgba(38, 185, 154, 0.38)', 'rgba(3, 88, 106, 0.38)'],

                series: [
                    {
                        type: 'bar',
                        encode: {
                            // Map the "amount" column to X axis.
                            x: 'amount',
                            // Map the "product" column to Y axis
                            y: 'role'
                        },
                        itemStyle: {
                            normal: {
                                //好，这里就是重头戏了，定义一个list，然后根据所以取得不同的值，这样就实现了，
                                color: function (params) {
                                    // build a color map as your need.
                                    return colorList[params.dataIndex]
                                },
                                //以下为是否显示，显示位置和显示格式的设置了
                                label: {
                                    show: true,
                                    position: 'insideLeft',
                                    formatter: function (a) {
                                        var x = keepTwoDecimal(a.data[2] / 1000);

                                        return x + ' K';
                                    }
                                    //formatter: Math.round(Number('{c}'.split(',')[2]) / 1000) + 'K'
                                    //formatter: '{a}\n{b}\n{c}'
                                }
                            }
                        },
                    }
                ]
            });
        }

        function keepTwoDecimal(num) {
            var result = parseFloat(num);
            if (isNaN(result)) {
                console.log('传递参数错误，请检查！ - ' + result);
                return false;
            }
            result = Math.round(num * 100) / 100;
            return result;
        }
    </script>
}
