@{ Layout = "_AdminLayout"; }

<div class="row">
    <div class="col-md-12">
        <!-- top tiles -->
        <div class="row" style="display: inline-block;">
            <div class="tile_count col-md-12">
                <div class="col-md-2 col-sm-4  tile_stats_count">
                    <span class="count_top"><i class="fa fa-usd" aria-hidden="true"></i> Total Budget</span>
                    <div class="count">2,500</div>
                    <span class="count_bottom"><i class="fa fa-clock-o"></i> Assigned to Project</span>
                </div>
                <div class="col-md-2 col-sm-4  tile_stats_count">
                    <span class="count_top"><i class="fa fa-user"></i> Effort To Use</span>
                    <div class="count">70,325</div>
                    <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>70% more </i> To Completion</span>
                </div>
                <div class="col-md-2 col-sm-4  tile_stats_count">
                    <span class="count_top"><i class="fa fa-user"></i> Estimate to Completion</span>
                    <div class="count">105,385</div>
                    <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>105% total </i> To Completion</span>
                </div>
            </div>
        </div>
        <!-- /top tiles -->
        <div class="row">

            <div id="toolbar">
                <button class="btn btn-success" data-toggle="modal" data-target=".bs-example-modal-lg" onclick="edit(0)">添加</button>
                <button class="btn btn-warning" onclick="refreshData()">刷新</button>
            </div>
            <div class="col-md-12 col-sm-12 table-responsive">
                <table id="data-table" class="table table-striped jambo_table" style="min-height:100px"
                       data-refresh="true">
                    <thead>

                    </thead>
                </table>
            </div>

        </div>
        <br />
        <div class="modal fade bs-example-modal-lg show" tabindex="-1" role="dialog" style="display: none; padding-right: 17px;" aria-modal="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">

                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">Edit...</h4>
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">x</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" id="data-id" required="required" class="form-control ">
                        <div class="col-md-12">
                            <div class="col-md-2">
                                Role:
                            </div>
                            <div class="col-md-8">
                                <select id="data-role" class="form-control">
                                </select>
                            </div>
                            <div class="col-md-2">
                                Rate: <span id="data-role-rate">100</span>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-2">
                                Effort:
                            </div>
                            <div class="col-md-8">
                                <input type="number" id="data-effort" required="required" class="form-control ">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-2">
                                Effort Rate:
                            </div>
                            <div class="col-md-8">
                                <input type="number" readonly="readonly" id="data-effort-rate" required="required" class="form-control ">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button id="submit" type="button" class="btn btn-primary" onclick="submitData()">Save changes</button>
                    </div>

                </div>
            </div>
        </div>



    </div>
</div>


@section Scripts {

    <script language="javascript">

        var dataList = [];
        var roles = [];

        $(document).ready(function () {
            //getEffortData('5dbf98c9f4014e1cdcdf1582');
            initBoostraptable();
        });


        function submitData() {

            $('#submit')[0].disabled = true;
            var role = roles.filter(item => item.id == $('#data-role').val())[0];
            var estimate = {
                projectGid: 'PLC219.1',
                projectId: 0,
                taskGid: '',
                roleId: $('#data-role').val(),
                roleTitle: role.title,
                roleRate: role.rate,
                effort: $('#data-effort').val(),
                //id: parseInt($('#data-id').val()),
                id: parseInt($('#data-id').val()),
                employeeGid: 'tttest',
            };

            $.ajax({
                type: 'POST',
                url: '/api/v1/estimate-effort-api/save',
                data: JSON.stringify(estimate),
                contentType: 'application/json',
                success: function (result) {
                    console.log('/api/v1/estimate-effort-api/save - success');
                    // 完成后再refresh一次啊
                    $('.bs-example-modal-lg').modal("hide");
                    $('#submit')[0].disabled = false;

                    refreshData();
                },
                error: function (r) {
                    $('#submit')[0].disabled = false;
                    Ewin.alert({ message: '操作失败，请重试，或者联系系统管理员。' });

                }
            });

        }

        function refreshData() {
            $('#data-table').bootstrapTable('refresh');
        }

        function initBoostraptable() {
            $('#data-table').bootstrapTable({
                toolbar: $('#toolbar'),
                showFooter: true,
                columns: [{
                    //field: 'roleTitle',
                    title: 'Id',
                    formatter: function (value, row, index) {
                        return index + 1;
                    }
                }, {
                    field: 'gid',
                    title: 'Project ID'
                }, {
                    field: 'name',
                    title: 'Project Name'
                }, {
                //    field: 'effort',
                //    title: 'Effort (H)',
                //    formatter: function (value, row, index) {
                //        return value.toLocaleString();
                //    },
                //    footerFormatter: function (value) {
                //        var count = 0;
                //        for (var i = 0; i < value.length; i++) {
                //            count += value[i].effort;
                //        }
                //        $('#total-hours')[0].innerText = count.toLocaleString();
                //        return count.toLocaleString() + ' (hours)';
                //    }
                //}, {
                //    field: 'roleRate',
                //    title: 'Role Rate'
                //}, {
                //    field: 'budget',
                //    title: 'Effort (Rate)',
                //    formatter: function (value, row, index) {
                //        return (row.effort * row.roleRate).toLocaleString();
                //    },
                //    footerFormatter: function (value) {
                //        var count = 0;
                //        for (var i = 0; i < value.length; i++) {
                //            count += value[i].effort * value[i].roleRate;
                //        }
                //        $('#total-effort')[0].innerText = count.toLocaleString();
                //        $('#total-budget')[0].innerText = (count * 0.9).toLocaleString();
                //        return count.toLocaleString();
                //    }
                //}, {
                    title: 'Operation',
                    formatter: function (value, row, index) {
                        return '<i style="font-size: 1.4em; cursor: pointer;" class="fa fa-pencil-square-o green" data-toggle="modal" data-target=".bs-example-modal-lg" onclick="edit(' + row.gid + ')"></i>'
                            + ' <i style="font-size: 1.4em; cursor: pointer; margin-left: 4px;" class="fa fa-archive yellow" onclick="archive(' + row.gid + ')"></i>'
                            + ' <a target="_blank" href="/estimate/index?projectGid=' + row.gid + '"><i style="font-size: 1.4em; cursor: pointer; margin-left: 4px;" class="fa fa-calculator blue"></i></a>'
                            + ' <a target="_blank" href="detail?projectGid=' + row.gid + '"><i style="font-size: 1.4em; cursor: pointer; margin-left: 4px;" class="fa fa-drivers-license-o purple"></i></a>';
                    }
                }],
                //data: rows
                method: 'get',  //使用get请求到服务器获取数据
                url: '/api/v1/project-api/list', //获取数据的Servlet地址
                striped: true,  //表格显示条纹
                queryParams: function queryParams(params) {   //设置查询参数
                    var param = {
                        pageNumber: params.pageNumber,
                        pageSize: params.pageSize,
                        filterByOwner: '@User.Claims.FirstOrDefault(a=>a.Type== "http://schemas.xmlsoap.org/ws/2005/05/identity/claims/nameidentifier").Value'
                    };
                    return param;
                },
                onLoadSuccess: function (data) {  //加载成功时执行
                    dataList = data.rows;
                },
                onLoadError: function (status, jqXHR) {  //加载失败时执行
                    alert('Load Error, err code: ' + status)
                },
                formatNoMatches: function () {
                    return "没有相关的匹配结果";
                },
                formatLoadingMessage: function () {
                    return '';
                }
            });

        }

        function edit(id) {
            $('#data-id').val(id);
            if (id == 0) {
                $('#data-effort').val(0);
                $('#data-effort-rate').val(0);
                return;
            }
            var row = dataList.filter(item => item.id == id)[0];

            // 把元素扔上去
            $('#data-role').val(row.roleId);
            $('#data-effort').val(row.effort);
            $('#data-effort-rate').val(row.effort * row.roleRate);
            $('#data-role-rate')[0].innerText = row.roleRate;

        }

        function archive(id) {
            console.log('archive invoked');

            Ewin.confirm({ message: "确认要归档选择的项目吗？" }).on(function (e) {
                if (!e) {
                    return;
                }
                //var d = { id: id };
                //$.ajax({
                //    type: 'get',
                //    url: '/api/v1/estimate-effort-api/delete',
                //    data: {
                //        id: id
                //    },
                //    contentType: 'application/json',
                //    success: function (result) {
                //        console.log('/api/v1/estimate-effort-api/delete - success');

                //        // 完成后再refresh一次啊
                //        refreshData();
                //    }
                //});
            });

        }


    </script>
}
