
@*<li class="dropdown-header">
    <img src="/images/img.jpg" class="img-circle" alt="User Image" />
    <div class="d-inline-block">
        Abdus Salam <small class="pt-1">@Context.User.Identity.Name</small>
    </div>
</li>
<li class="esh-identity">
    <a href="profile.html">
        <i class="mdi mdi-account"></i> My Profile1
    </a>
</li>
<li class="esh-identity">
    <a href="email-inbox.html">
        <i class="mdi mdi-email"></i> Message
    </a>
</li>
<li class="esh-identity">
    <a href="#"> <i class="mdi mdi-diamond-stone"></i> Projects </a>
</li>
<li class="esh-identity">
    <a href="#"> <i class="mdi mdi-settings"></i> Account Setting </a>
</li>

<li class="dropdown-footer">
    <a href="javascript:document.getElementById('logoutForm').submit()">
        <i class="mdi mdi-logout esh-identity-name esh-identity-name--upper"></i>Log Out
    </a>
</li>*@




<li class="nav-item dropdown open" style="padding-left: 15px;">
    <a href="javascript:;" class="user-profile dropdown-toggle" aria-haspopup="true" id="navbarDropdown" data-toggle="dropdown" aria-expanded="false">
        <img src="/images/img.jpg" alt="">John Doe
    </a>
    <div class="dropdown-menu dropdown-usermenu pull-right" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="javascript:;"> Profile</a>
        <a class="dropdown-item" href="javascript:;">
            <span class="badge bg-red pull-right">50%</span>
            <span>Settings</span>
        </a>
        <a class="dropdown-item" href="javascript:;">Help</a>
        <a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-sign-out pull-right"></i> Log Out</a>
    </div>
</li>

<form style="display:none;" asp-area="Identity" asp-page="/Account/Logout" method="post" id="logoutForm" class="navbar-right">
    <section class="esh-identity-section">
        <div class="esh-identity-name">@Context.User.Identity.Name</div>
    </section>
</form>
